.homePage{height:100%;display: flex;flex-direction: column;
    .head_Search{height: 10%;background: red;}
    .main{flex:1;overflow-x:hidden;background: yellow;}
    .foot_List{height:10%;background: blue;}
}


